---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}



Pitt CS1538 Introduction to Simulations 
Pitt CS1566 Introduction to Computer Graphics 
Pitt CS1571 Introduction to Artificial Intelligence 
Pitt CS1590 Social Implications of Computing Technology 
Pitt CS1671 Introduction to Human Language Technologies 
Pitt CS1675 Introduction to Machine Learning 
Pitt CS2710/ISSP2160 Foundations of Artificial Intelligence 
Pitt CS2731/ISSP2230 Introduction to Natural Language Processing 
Pitt CS2750/ISSP2170 Machine Learning 
Pitt CS3730/ISSP3120 Advanced Topics in Natural Language Processing 
UMD CMSC828/LING889A - Advanced NLP: Theory and Practice (with Bonnie Dorr) [Spring 2002]

-->
